In [1]:
from pgmpy.models import NaiveBayes
import pandas as pd
import numpy as np

In [2]:
model = NaiveBayes()

In [3]:
df = pd.read_csv("../data/very-small-SC-clean.csv", 
                         usecols=["id", "driver_gender", "driver_race", "officer_race", "stop_outcome"], 
                         dtype={"id" : "str", "driver_gender" : "category", "driver_race" : "category",
                                "officer_race" : "category", "stop_outcome" : "category"})

In [4]:
model.add_nodes_from(["driver_gender", "stop_outcome"])

In [5]:
model.add_edges_from([("driver_gender", "stop_outcome")])

In [7]:
df.drop(["driver_race", "officer_race", "id"], axis=1, inplace=True)

In [8]:
model.fit(df)

In [9]:
model.get_cpds()

[<TabularCPD representing P(driver_gender:2) at 0x7f89b4f1efd0>,
 <TabularCPD representing P(stop_outcome:3 | driver_gender:2) at 0x7f89b4ebb630>]

In [10]:
predict_data = df.copy()

In [12]:
predict_data.drop(["stop_outcome"], axis=1, inplace=True)

In [13]:
model.predict(predict_data)

   stop_outcome
0      Citation
1      Citation
2      Citation
3      Citation
4      Citation
5      Citation
6      Citation
7      Citation
8      Citation
9      Citation
10     Citation
11     Citation
12     Citation
13     Citation
14     Citation
15     Citation
16     Citation
17     Citation
18     Citation
19     Citation
20     Citation
21     Citation
22     Citation
23     Citation
24     Citation
25     Citation
26     Citation
27     Citation
28     Citation
29     Citation
..          ...
69     Citation
70     Citation
71     Citation
72     Citation
73     Citation
74     Citation
75     Citation
76     Citation
77     Citation
78     Citation
79     Citation
80     Citation
81     Citation
82     Citation
83     Citation
84     Citation
85     Citation
86     Citation
87     Citation
88     Citation
89     Citation
90     Citation
91     Citation
92     Citation
93     Citation
94     Citation
95     Citation
96     Citation
97     Citation
98     Citation

[99 rows x 1 columns]

In [ ]:
predict_data

In [ ]:
df